@import './reset.scss';

body {
    background-color: #D8AE87;
}

.outer-container {
    font-family: 'Wendy One', sans-serif;
    margin: 2%;
}

.fa-sun {
    position: absolute;
    left: 20%;
    top: 2%;
    font-size: 5em;
    color: yellow;
    text-shadow: 5px 5px 15px;
    transition: 0.5s;
}

.fa-sun:hover {
    transform: rotate(10deg);
    text-shadow: 5px 5px 20px;
}

.outer-container h1 {
    font-size: 60px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 2px white;
}

.main-container {
    display: flex;
    position: relative;
}

.corgi-images {
    display: flex;
    justify-content: space-evenly;
}

.left {
    background-color: white;
    border-radius: 50px;
    box-shadow: 3px 3px 5px black;
    padding: 15px;
    flex: 2;
    margin-right: 20px;
}

.left h3 {
    color: rgb(184, 140, 99);
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 0px 2px black;
}

.left p {
    padding-top: 15px;
    font-size: 18px;
}

#paw {
    font-size: 16px;
    color: rgb(184, 140, 99);
}

.game-screen {
    flex: 6;
    margin-right: 20px;
    display: flex;
    justify-content: center;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right a {
    text-decoration: none;
    font-size: 50px;
    padding: 10px;
    color: black;
    align-self: center;
    transition: 0.5s;
    cursor: pointer;
}

.right img {
    align-self: center;
    width: 50px;
    height: 50px;
    border: 0.5px solid black;
    box-shadow: 2px 2px 5px white;
    border-radius: 50%;
    background-color: black;
    transition: 0.5s;
}

.right img:hover {
    cursor: pointer;
    background-color: white;
    border: 0.5px solid white;
    box-shadow: 2px 2px 5px black;
}

.right a:hover {
    color: snow;
}

#canvas-dog-park {
    background-image: linear-gradient(to right, #98ec9f,#70e77c, #58d362, #3ac445, #25b931, #1a9b25);
}

.open-modal {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #98ec9f,#70e77c, #58d362, #3ac445, #25b931, #1a9b25);
    position: absolute;
    width: 900px;
    height: 600px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: snow;
    font-size: 50px;
    z-index: 100;
    box-shadow: 3px 3px 10px black;
}

.close-modal {
    display: none;
}

.open-park-view {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 900px;
    height: 600px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgba(255, 250, 250, 0.692);
    font-size: 50px;
    z-index: 100;
    background-color: transparent;
}

.close-park-view {
    display: none;
}

.fa-paw {
    padding: 0px 10px;
    font-size: 30px;
}

.fa-bone {
    margin: 80px 0px;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.397);
    transition: 0.5s;
}

.fa-bone:hover {
    color: rgba(255, 255, 255, 0.759);
}

#click-start {
    padding: 30px;
    transition: 0.7s;
}

#click-start:hover {
    color: black;
    cursor: pointer;
}

.difficulty-mode {
    width: 8em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin: 20px 0px 30px 0px;
    padding: 10px 0px;
    box-shadow: 3px 3px 5px;
    background-image: linear-gradient(to right,rgb(211, 156, 104), rgb(209, 146, 87), rgb(196, 128, 64), rgb(182, 106, 35),  rgb(161, 103, 49), rgb(143, 86, 32));
}

.difficulty-mode button {
    padding: 10px;
    font-size: 20px;
    color: white;
    transition: 0.5s;
}

.difficulty-mode button:hover {
    color: black;
    cursor: pointer;
}

.difficulty-mode button:focus {
    color: black;
    cursor: pointer;
}

.music {
    width: 4em;
    font-size: 20px;
    color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 12px;
    background-image: linear-gradient(to right,rgb(211, 156, 104), rgb(209, 146, 87), rgb(196, 128, 64), rgb(182, 106, 35),  rgb(161, 103, 49), rgb(143, 86, 32));
    box-shadow: 3px 3px 5px black;
}


#mute-music, #play-music {
    padding-top: 4px;
    font-size: 16px;
    color: white;
    transition: 0.5s;
}

#play-music {
    padding-top: 8px;
}

#mute-music:hover, #play-music:hover {
    color: black;
    cursor: pointer;
}

.active-button {
    color: #19571e !important;
    cursor: default !important;
}

@media screen and (max-width: 1380px) {
    .left h3 {
        font-size: 26px;
    }

    .left p {
        padding-top: 12px;
        font-size: 16px;
    }
}