@import './reset.scss';

body {
    background-color: #D8AE87;
}

.outer-container {
    font-family: 'Wendy One', sans-serif;
    margin: 2%;
}

.outer-container h1 {
    font-size: 60px;
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    position: relative;
}

.corgi-images {
    display: flex;
    justify-content: space-evenly;
}

.left {
    background-color: white;
    padding: 15px;
    flex: 2;
    margin-right: 20px;
}

.left h3 {
    color: rgb(184, 140, 99);
    font-size: 30px;
}

.left p {
    padding-top: 15px;
    font-size: 18px;
}

.high-scores h3 {
    padding-top: 25px;
}

.game-screen {
    flex: 7;
    margin-right: 20px;

}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right a {
    text-decoration: none;
    font-size: 50px;
    padding: 10px;
    color: black;
    align-self: center;
    transition: 0.5s;
    cursor: pointer;
}

.right img {
    align-self: center;
    width: 70px;
    height: 70px;
}

.right a:hover {
    color: snow;
}

#canvas-dog-park {
    background-image: linear-gradient(to right, #98ec9f,#70e77c, #58d362, #3ac445, #25b931, #1a9b25);
}

.open-modal {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #98ec9f,#70e77c, #58d362, #3ac445, #25b931, #1a9b25);
    position: absolute;
    width: 900px;
    height: 600px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: snow;
    font-size: 50px;
    z-index: 100;
}

.close-modal {
    display: none;
}

.fa-paw {
    padding: 0px 10px;
    font-size: 30px;
}

.fa-bone {
    margin: 80px 0px;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.397);
    transition: 0.5s;
}

.fa-bone:hover {
    color: rgba(255, 255, 255, 0.759);
}

.fa-arrow-left {
    padding-right: 10px;
}

.check-instr {
    margin-bottom: 30px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.623);
}

#click-start {
    padding: 30px;
    transition: 0.7s;
}

#click-start:hover {
    color: black;
    cursor: pointer;
}

.difficulty-mode {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 50px 0px;
    box-shadow: 3px 3px 5px;
    background-image: linear-gradient(to right, rgb(170, 170, 170), rgb(120, 120, 120), rgb(90, 90, 90), rgb(60, 60, 60), rgb(30, 30, 30), rgb(0, 0, 0));
}

.difficulty-mode button {
    padding: 10px;
    font-size: 20px;
    color: white;
    transition: 0.5s;
}

.difficulty-mode button:hover {
    color: rgb(211, 156, 104);
    cursor: pointer;
}

.difficulty-mode button:focus {
    color: rgb(211, 156, 104);
    cursor: pointer;
}